 *{
    box-sizing: border-box;
}

.container-form{
    position: relative;
    background: rgb(253, 252, 252);
    width: 100%;
    max-width: 500px; /*ancho maximo*/
    margin: 56px auto; /* auto para centrar*/
    color: #f80505;
    border-radius: 5px ;
 

} 
.container-form .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    color:rgb(148, 137, 133);
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #6c6662;
    border-bottom: 2px solid  #6c6662;
    transition: all .5s ease;
    cursor: pointer;

}
.container-form .toggle span{
    letter-spacing: 1px;
}
.container-form .toggle:hover {
    border-top: 2px solid #f87724;
    border-bottom: 2px solid #f87724;
   
} 
.container-form h2{
    margin: 0 0 28px 0;
    font-weight: 500;
    font-size: 2rem;
    font-family: Monserrat, sans-serif;
    color:#484848;
    text-transform: uppercase;
    margin-left: 1px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 30px;
    text-decoration-color: #f87724;
}

.container-form h6{
    margin: 0 0 28px 0;
    font-size: 20px;
    color:black;
   
    margin-left: 1px;
    text-align: center;
}
.fecha-entrega{
    display: flex;
    flex-direction: row;
    padding: 1px;
}
.fecha-ejecucion{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
}

.container-form select,
.container-form input[type="text"],
.container-form input[type="number"],
.container-form input[type="password"],
.container-form input[type="email"]{
    outline: none;
    background:white;
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #6c6662;
    border: none;
    border-radius: 5px;
    border: 2px solid #6c6662;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
   

}
.container-form input[type="text"]:focus,
.container-form input[type="password"]:focus,
.container-form input[type="number"]:focus,
.container-form input[type="email"]:focus{
    border: 2px solid #f87724;
    color: #f88238;
    outline-color:#f87724;
  
   
   

}
.container-form button[type="submit"]{
    background: #f87724;
    color: #f8f6f3;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;

}
.container-form button[type="submit"]:hover {
    background:rgb(255, 255, 255);
    color:#f87724;
    border: 1px solid #f87724;
    border-radius: 8px;
}
.container-form .reset-password{
    background: #fff;
    text-decoration: none;
    font-size: 16px;
    color: #f87724;
    width:100% ;
    padding: 10px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 20px;
  
  }
  .container-form .reset-password a{
   color: #f87724;
   }


.container-form .form:nth-child(2){
    display: block;
} 





