body{
    background: #fcf9f7;
    -webkit-background-size: cover;
    background-size: cove;
    background-attachment: fixed; /*para que este estático*/
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}







